<?xml version='1.0' encoding='utf-8'?>
<widget id="com.luzrestrepo.todolist" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>To-Do List</name>
    <description>Aplicación de tareas con categorías, almacenamiento local y feature flags via Firebase Remote Config.</description>
    <author email="luz-aiderc@hotmail.com" href="https://github.com/luzrestrepo/todo-list-ionic">Luz Restrepo</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="StatusBarStyle" value="lightcontent" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="^4.0.0" />
</widget>
